<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="EmailAddress" value="riteschoolhelpdesk2019@gmail.com"/>
    <add key="FromMailAddress" value="noreply.ppsn@info.riteschool.com"/>
    <add key="IPAddress" value="127.0.0.1"/>
    <add key="IsLoginAllowd" value="Y"/>
    <add key="ProcessLogFilePath" value="C:\inetpub\"/>
    <!--<add key="ReportingDataSource" value="192.168.1.39\SQLEXPRESS"/>-->
    <add key="ReportingDataSource" value="4.240.106.247"/>
    <add key="ReportDataBaseName" value="PPSH_06Nov2025"/>
    <add key="ReportingUserId" value="aaditechadmin"/>
    <add key="ReportingPassword" value="AadiTech@123"/>
    <add key="BetaWebsiteKey" value="ABC"/>
    <add key="MobileUrl" value=""/>
    <add key="MobileUrlTitle" value=""/>
    <add key="NetBankingRequestURL" value="https://www.tpsl-india.in/PaymentGateway/TransactionRequest.jsp"/>
    <add key="PortNumber" value="25"/>
    <add key="SchoolID" value="11"/>
    <add key="SchoolName" value="PPSH"/>
    <add key="SendMail" value="N"/>
    <add key="SendSMS" value="N"/>
    <add key="SMSSenderIP" value="https://www.businesssms.co.in/sms.aspx"/>
    <add key="SMSSenderUName" value=""/>
    <add key="SMSSenderUPwd" value=""/>
    <add key="SoftwareCoordinatorEmailAddresses" value="riteschoolhelpdesk2019@gmail.com"/>
    <add key="DefaultCulture" value="en"/>
    <add key="LogoutPage" value="../../Login.aspx"/>
    <add key="IsDemoSite" value="N"/>
    <add key="ExternalMailServerURL" value="http://mail4india.com/src/login.php"/>
    <add key="FeedbackEmailAddress" value="riteschoolhelpdesk2019@gmail.com"/>
    <add key="EnableStudentLogin" value="Y"/>
    <add key="GlobalResourceFilePath" value="bin\App_GlobalResources"/>
    <add key="ForgotPasswordRequestMails" value="riteschoolhelpdesk2019@gmail.com"/>
    <add key="ErrorLogEmailAddresses" value="riteschoolhelpdesk2019@gmail.com"/>
    <add key="AutoSearchCachePath" value="C:\Sachin\School\RITeSchool SourceCode\School_Website\AutoSearchCache.txt"/>
    <add key="ActivityLogCacheCount" value="25"/>
    <add key="SchoolLocationsDataSource" value=""/>
    <add key="SchoolLocationsDataBaseName" value=""/>
    <add key="SchoolLocationsUserId" value=""/>
    <add key="SchoolLocationsPassword" value=""/>
    <add key="SMSProvider" value="BusinessSMS"/>
    <add key="SendAdmissionFormEmail" value="Y"/>
    <add key="AdmissionSenderEmailAddress" value="noreply.ppsnadmission@info.riteschool.com"/>
    <add key="AdmissionSchoolEmailAddresses" value="admission@ppsnandedcity.com"/>
    <add key="LogFilePath" value=""/>
    <add key="SMSSenderIPForSoftSMS" value="http://softsms.in/app"/>
    <add key="SMSSenderUNameForSoftSMS" value="PPSNDC"/>
    <add key="SMSSenderUPwdForSoftSMS" value=""/>
    <add key="AzureMediaWebsiteURL" value="http://azuremediaservice.riteschool.com/Login.aspx"/>
    <add key="UploadFolderBasePath" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <httpRuntime maxRequestLength="50000" maxQueryStringLength="15000" executionTimeout="240" requestValidationMode="2.0"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <siteMap defaultProvider="Admin">
      <providers>
        <clear/>
        <add name="Admin" type="System.Web.XmlSiteMapProvider" siteMapFile="~/RITeSchool/Sitemaps/Admin.sitemap"/>
        <add name="Teacher" type="System.Web.XmlSiteMapProvider" siteMapFile="~/RITeSchool/Sitemaps/Admin.sitemap"/>
        <add name="Student" type="System.Web.XmlSiteMapProvider" siteMapFile="~/RITeSchool/Sitemaps/Student.sitemap"/>
        <add name="Accountant" type="System.Web.XmlSiteMapProvider" siteMapFile="~/RITeSchool/Sitemaps/Accountant.sitemap"/>
        <add name="Librarian" type="System.Web.XmlSiteMapProvider" siteMapFile="~/RITeSchool/Sitemaps/Librarian.sitemap"/>
        <add name="Management" type="System.Web.XmlSiteMapProvider" siteMapFile="~/RITeSchool/Sitemaps/Management.sitemap"/>
      </providers>
    </siteMap>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" batch="false" optimizeCompilations="true">
      <assemblies>
        <add assembly="eWorld.UI.Compatibility, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2"/>
        <add assembly="eWorld.UI, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpModules>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="AnonymousIdentification"/>
      <remove name="FileAuthorization"/>
      <remove name="ErrorHandlerModule"/>
    </httpModules>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <sessionState timeout="20"/>
    <authentication mode="Forms">
      <forms name="aspauth" loginUrl="Login.aspx" cookieless="UseCookies" defaultUrl="Login.aspx" timeout="60" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off" defaultRedirect="~/RITeSchool/Common/Error.aspx"/>
    <urlMappings>
      <add url="~/" mappedUrl="~/Login.aspx"/>
    </urlMappings>
  </system.web>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoginFromBetaPage.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="School_WebSite/CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="worksheets.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Activities.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/PayInternalFeeOnlinePopup.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/InternalFeePaymentReceipt.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/FeeStructure.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewsPhoto.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Acknowledgement.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Guidelines.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MBTT_Summer_Camp.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/AdmissionFormDocuments.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/AdmissionFormStudentDetails.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/AdmissionFormParentDetails.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/AdmissionThankYouUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admissions_Current_Year.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NoticeForParents.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoginMsgPopUp.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Events.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GeneralDiscipline.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Library.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewFeeStructure.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OurAim.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PrincipalMsg.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PPShiftDetails.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BusTimingsDetails.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Withdrawals.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TermsOfUse.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="User_Guide.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Common/Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/uploads">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Payroll">
    <system.web>
      <authorization>
        <allow users="Admin,Teacher,Admin Staff"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Xseed">
    <system.web>
      <authorization>
        <allow users="Admin,Teacher,Admin Staff"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/DemoUserNames.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/SuperAdmin">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/TermsAndConditions.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EntranceExamResult.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ParentsFeedBack.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MaRRS_Word_Master.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="School_Notices.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SchoolNoticeHinjewadi.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PublicHolidayList.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/user_guide.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admin">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/GenerateChallanPopUp.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Common">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Admin Staff,Other Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Teacher">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Admin Staff,Student"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Student">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Accountant,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/LibrarianManagement">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Admin Staff,Student"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/StudentPayFeeUI.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Accountant,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/PayFeeForNextAcaYear.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Accountant,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/PayFeeOnline.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Accountant,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/FeesMiniReceipt.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/LibrarianManagement/LibraryManagementUI.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Student,Teacher,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Teacher/StudentsListUI.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Teacher/ParentTeacherAssociationUI.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Admin Staff,Student"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Appreciation_From_Global_Cancer_Consern.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/OnlineBankDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Admin Staff,OnlineAdmission"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/OldYearOnlineFeePaymentPopup.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Accountant,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ExternalEvents.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Gallery/ImageGallery.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Gallery/VideoGallery.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ApplicationForm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/NetBankingUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/OnlineAdmissionDashBoardUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/PaymentConfirmationUI.Aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/PaymentStatusUI.Aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/OnlineAdmissionUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/AdmissionFormReport.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Admission/OnlineAdmissionlLoginUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/FeeThankYouUI.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,Teacher,Student,Accountant,Admin Staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OnlineAdmissionPopUP.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/RITAutoCompleteService">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPasswordRequestPopup.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/SingleSignOnPage.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RITeSchool/Accountant/CautionMoneyReciept.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add name="CrystalImageHandler.aspx_GET" path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10240" maxQueryString="15000" maxAllowedContentLength="50000000"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <remove value="index.aspx"/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="fonts"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="Management.Service.ManagementService" behaviorConfiguration="Management.Service.ManagementServiceBehavior">
        <endpoint name="default" binding="basicHttpBinding" bindingConfiguration="default" contract="Management.Service.IManagementService"/>
      </service>
      <service name="SchoolAutoSearchService.Service.AutoSearchService" behaviorConfiguration="SchoolAutoSearchService.Service.AutoSearchServiceBehavior">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="SchoolAutoSearchService.Service.IAutoSearchService"/>
      </service>
      <service name="Dashboard.Service.DashboardService" behaviorConfiguration="DashboardServiceBehavior">
        <endpoint behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="Dashboard.Service.IDashboardService"/>
      </service>
      <service name="MobileExportService.Service.MobileExportService" behaviorConfiguration="MobileExportService.Service.MobileExportServiceBehavior">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="MobileExportService.Service.IMobileExportService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Management.Service.ManagementServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="SchoolAutoSearchService.Service.AutoSearchServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="DashboardServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="MobileExportService.Service.MobileExportServiceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
    <bindings>
      <basicHttpBinding>
        <binding allowCookies="false" bypassProxyOnLocal="false" closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" name="default" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="16384" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="8192"/>
        </binding>
        <binding name="BSSentItemsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BSWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding closeTimeout="00:50:00" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" name="nettcpBinding" openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions">
          <readerQuotas maxArrayLength="16384" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="8192"/>
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="webBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="LargeWeb" maxBufferPoolSize="1500000" maxReceivedMessageSize="1500000" maxBufferSize="1500000">
          <readerQuotas maxArrayLength="656000" maxBytesPerRead="656000" maxDepth="32" maxNameTableCharCount="656000" maxStringContentLength="656000"/>
        </binding>
        <binding name="webBindingHTTPS">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </webHttpBinding>
      <customBinding>
        <binding name="BSWSSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!-- SchoolBusinessService endpoints -->
      <endpoint address="net.tcp://localhost:9025/SchoolBusinessServices" binding="netTcpBinding" bindingConfiguration="nettcpBinding" contract="SchoolBusinessService.IAccountsBase" name="NetTcpBinding_IAccountsBase"/>
      <endpoint address="net.tcp://localhost:9025/SchoolBusinessServices" binding="netTcpBinding" bindingConfiguration="nettcpBinding" contract="SchoolBusinessService.IAccountGroup" name="NetTcpBinding_IAccountGroup"/>
      <endpoint address="net.tcp://localhost:9025/SchoolBusinessServices" binding="netTcpBinding" bindingConfiguration="nettcpBinding" contract="SchoolBusinessService.IAccountLedger" name="NetTcpBinding_IAccountLedger"/>
      <endpoint address="net.tcp://localhost:9025/SchoolBusinessServices" binding="netTcpBinding" bindingConfiguration="nettcpBinding" contract="SchoolBusinessService.IAccountVoucher" name="NetTcpBinding_IAccountVoucher"/>
      <endpoint address="net.tcp://localhost:9025/SchoolBusinessServices" binding="netTcpBinding" bindingConfiguration="nettcpBinding" contract="SchoolBusinessService.IAccountApprovalConfig" name="NetTcpBinding_IAccountApprovalConfig"/>
      <endpoint address="net.tcp://localhost:9025/SchoolBusinessServices" binding="netTcpBinding" bindingConfiguration="nettcpBinding" contract="SchoolBusinessService.IBankAccount" name="NetTcpBinding_IAccountBank"/>
      <!-- Management Service endpoints -->
      <endpoint address="https://businesssms.co.in/WebService/BSSentItems.asmx" binding="basicHttpBinding" bindingConfiguration="BSSentItemsSoap" contract="BusinessSMSService.Client.BSSentItemsSoap" name="BSSentItemsSoap"/>
      <endpoint address="https://businesssms.co.in/WebService/BSWS.asmx" binding="basicHttpBinding" bindingConfiguration="BSWSSoap" contract="BusinessSMSBalanceService.Client.BSWSSoap" name="BSWSSoap"/>
      <endpoint address="https://businesssms.co.in/WebService/BSWS.asmx" binding="customBinding" bindingConfiguration="BSWSSoap12" contract="BusinessSMSBalanceService.Client.BSWSSoap" name="BSWSSoap12"/>
    </client>
  </system.serviceModel>
</configuration>