.dataBG{background-color:#fff;height:100%;}
.TxtNormal{color:#000;font-weight:400;font-family:Verdana,;font-size:8pt;line-height:12pt;}
.paddingLR{padding:0 5px;}
.TxtDivBG{background-color:#F3F3F3;}
.TxtBrown{font-size:9pt;color:#8B0000;font-family:arial;}
.paddingL{padding-left:10px;}
.padding10{padding:10px;}
.TitleRBg{background-color:#c93;height:20px;text-align:center;}
.ColorBg{background-color:#FFE4B5;font-weight:700;font-size:9pt;color:#8B0000;font-family:arial;}
.ColorNewBg{background-color:#FFE4B5;font-weight:700;font-size:9pt;color:#000;font-family:arial;}