        
          .notice-popup-wrapper
        {
            position: absolute;
            left: 50%;
            top: 50%;
            border: solid 2px darkgreen;
            background-color: lightyellow /*#DFFDFC*/;
            font-family: Tahoma;
        }
        
        .notice-popup-title
{
    background-color: #005100;
    color: #000000;
    height: 14px;
    padding: 4px;
}
        
        .notice-popup-title-text
        {
            color: White;
            margin: 0;
            text-align: left;
            font-family:Arial;
            
        }
        
        .notice-popup-title-closebtn
        {
            float: right;
            cursor: pointer;
        }
        
        .notice-popup-content
        {
            padding: 15px;
            text-align: left;
            vertical-align: top;
            overflow: auto;
        }
        
        body
        {
            font-family: arial;
        }
        
        .qitem
        {
            background: url('bg.gif') no-repeat; /* required to hide the image after resized */
            border: 4px solid #222;
            cursor: hand;
            cursor: pointer;
            float: right;
            height: 171px;
            left: 0px;
            margin: 5px 5px 5px 0;
            overflow: hidden; /* for child absolute position */
            position: relative; /* display div in line */
            top: -15px;
            width: 255px;
        }
        
        .qitem img
        {
            border-color: inherit; /* allow javascript moves the img position*/
            border-style: none;
            border-width: 0;
            height: 130px;
            left: 0px;
            position: absolute;
            top: 4px;
            width: 206px;
            z-index: 200;
        }
        
        .qitem .caption
        {
            color: #ccc;
            display: block;
            position: absolute;
            z-index: 0;
        }
        
        .qitem .caption h4
        {
            color: #369ead;
            font-size: 12px;
            margin: 0;
            padding: 10px 5px 0 8px;
        }
        
        .qitem .caption p
        {
            font-size: 10px;
            height: 161px;
            margin: 0;
            padding: 3px 5px 0 8px;
        }
        
        /* Setting for corners */
        
        .topLeft, .topRight, .bottomLeft, .bottomRight
        {
            background-repeat: no-repeat;
            float: left;
            position: absolute;
        }
        
        .topLeft
        {
            background-position: top left;
        }
        
        .topRight
        {
            background-position: top right;
        }
        
        .bottomLeft
        {
            background-position: bottom left;
        }
        
        .bottomRight
        {
            background-position: bottom right;
        }
        
        .clear
        {
            clear: both;
        }
        
        .header_img
        {
            float: center;
            height: 800px;
            width: 243px;
        }
        
        #container5
        {
            position: relative;
        }
        
        #container5 IMG
        {
            border: 2px groove #FFF;
            left: -5px;
            opacity: 0.0;
            position: absolute;
            top: 4px;
            width: 220px;
            z-index: 8;
        }
        
        #container5 IMG.active
        {
            opacity: 2.0;
            width: 207px;
            z-index: 10;
        }
        
        #container5 IMG.last-active
        {
            z-index: 9;
        }
        
        .box
        {
            width: 280px;
            height: 184px;
            background: transparent url(images/boxbg.png) no-repeat;
            text-align: center;
            font-family: Verdana;
        }
        
        .box .content
        {
            padding: 15px 15px 20px;
            width: 250px;
        }
        
        .box .header
        {
            height: 32px;
            text-decoration: underline;
            background: transparent url(images/calendar.png) no-repeat right center;
            font-weight: bold;
            font-size: 13pt;
            color: #3399FF;
        }
        
        .box .body
        {
            height: 115px;
            width: 250px;
            font-weight: bold;
            font-size: 13pt;
        }
        
        .ImageGallerySelected
        {
            color : Black  !important;
            background-color:#FE6F3F  !important;
        } 

